
@import "~bootstrap/scss/bootstrap";


@import url('https://fonts.googleapis.com/css?family=Lato:300,600|Raleway:400,600');

@import "variables";

html, body, 
#___gatsby, 
#___gatsby > div[role="group"][tabindex], 
.main-container, 
main {
  height: 100%;
}

h1, h2, h3, h4, h5 {
  color: $primary-color;
}

.skill-section {
  background-color: $back-color;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h1 {
    font-family: Raleway;
    text-transform: uppercase;
    @media (max-width: 576px) {
      font-size: 1em;
    }
  }

  @media (max-width: 576px) {
    padding-top: 8em;
  }

  .skills-container {
    margin-top: 2%;
    padding-top: 2%;
    background-color: $content-color;
    width: 75%;
    @media (max-width: 576px) {
      width: 100%;
    }
    height: 100%;
    border-radius: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 1;
    overflow: hidden;

    .skills-description {
      padding: 4em 4em 15em 4em;
      z-index: 3;
      font-family: Lato;
      font-size: 1.5em;
      width: 40%;
      @media (max-width: 1200px) {
        width: 100%;
        padding: 2em 2em 2em 2em;
      }
      .center-graphic {
        color: $primary-color;
        font-size: 10em;
      }
    }

    .back-graphic {
      color: $primary-color;
      right: 5em;
      font-size: 10em;
      opacity: 0.03;
      position: absolute;
      z-index: 2;
      @media (max-width: 1200px) {
        width: 100%;
        font-size: 2em;
        position: static;
      }
    }


    .skills {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 50%;
      @media (max-width: 1200px) {
        width: 100%;
      }
      z-index: 3;
    }

    .skill {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5em;
      span {
        display: inline-block;
        font-family: Raleway;
        font-weight: 600;
        font-size: 0.8em;
        z-index: 1;
        color: $primary-color;
        svg {
          color: $primary-color;
          font-size: 0.5em;
        }
      }
      .rc-progress-circle  {
        position: absolute;
        height: 8em;
        width: 8em;
        .rc-progress-circle-path {
          fill-opacity:1; 
          fill: $back-color;
        }
      }
    }
  }
}

.headtext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .understroke {
    width: 5em;
    border-top: 0.2em solid $highlight-color;
    @media (max-width: 576px) {
      width: 2em;
      border-top: 0.1em solid $highlight-color;
    }
  }
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: -100px;
  left: 0px;
  position: fixed;
  background-color: $primary-color;
  width: 100%;
  padding: 1em;
  z-index: 999;
  @media (max-width: 576px) {
    padding: 0.5em;
  }

  .left {
    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
      padding: 0.5em;
    }
  }

  h5 {
    display: inline-block;
    margin-bottom: 0px;
    @media (max-width: 576px) {
      padding-top: 0.5em;
    }
  }

  .pins {
    right: 20px;
    display: flex;
    align-items: center;
    .pin {
      display: inline-flex;
      margin-right: 0.3em;
      padding: 0.3em;
      svg {
        height: 1.5em;
        width: 1.5em;
      }
    }
  }
}

.hidden-nav {
  animation: slideUp 0.2s normal;
  @keyframes slideUp {
    from {top: 0px;}
    to {top: -100px;}
  }
}

.fixed-nav {
  top: 0px;
  animation: slideDown 0.5s normal;
  @keyframes slideDown {
    from {top: -100px;}
    to {top: 0px;}
  }
}

h5 {
  font-family: Lato;
  color: $content-color;
}

h5.brand {
  padding: 0em 1em 0em 0em;
  span {
    font-family: Lato;
    font-weight: 600;
  }
  font-family: 'Raleway';
  text-transform: lowercase;
  font-weight: 600;
  color: $highlight-color;
  font-size: 1em;

  @media (max-width: 576px) {
  }
}

h5.title {
  font-family: 'Lato';
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: 	$content-color;
  font-size: 0.65em;
  padding-right: 0.5em;
  @media (max-width: 576px) {
    font-size: 0.5em;
  }
}

.text-container {
  h1 {
    span {
      font-family: Lato;
      font-weight: 600;
    }
    font-family: 'Raleway';
    text-transform: lowercase;
    font-weight: 600;
    color: $highlight-color;
    font-size: 5em;

    @media (max-width: 576px) {
      font-size: 3em;
    }
  }
  
  h2 {
    font-family: 'Lato';
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: 	$content-color;
    font-size: 1.3em;
    @media (max-width: 576px) {
      font-size: 0.78em;
    }
  }
}

.pin {
  color:#272d3c;
  display: inline-block;
  height: auto;
  margin-right: 1em;
  padding: 1em;
  background-color: $content-color;
  overflow: hidden;
  &:hover {
    color: $highlight-color;
  }

  @media (max-width: 576px) {
    margin-right: 0.6em;
    padding: 0.6em;
    svg {
      height: 3em;
      width: 3em;
    }
  }

}

.header-parallax { 
  background-color: $primary-color;
  height: 100%; 
  
  /* Create the parallax scrolling effect */
  background-image: url('../images/transistor.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-container {
  h1, h2 {
    overflow: hidden;
  }
}

.chevron-down {
  color: $content-color;
}